{% extends "layout/base.html" %}

{% block 'title'%} Alertas de Area {% endblock %}


{% block 'content' %}

<div class="container">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "area" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <span class="p-3">
            <button type="button" class="btn imagen shadow rounded-pill custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Modificar días para la alerta <i class="bi bi-pencil-square"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Este valor será utilizado para definir con cuántos días de diferencia desea que le aparezca la alerta.</p>
                            <form class="p-5 rounded-3 bg-body-tertiary shadow-lg" action="" method='POST' enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <div {% if message.tags %} class="alert alert-danger alerta" role="alert"{% endif %}>{{ message }}</div>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <table>
                                    {{ alert_form.as_table }}
                                </table>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-secondary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>

    <div class="container cabecera shadow bg-danger bg-opacity-50 p-4 bw-5">
        <h1 class="text-center text-light text-uppercase display-1"><strong> alertas de áreas</strong></h1>
        <h5 class="text-center text-light text-uppercase">Cantidad total: {{ total_alertas }}</h5>
    </div>
    
    <div class="row mt-3 d-flex justify-content-center align-item-center ps-5 pe-5">
        {% for alerta in alertas %}
        <div class="col-12 col-md-4 p-0 card text-bg-danger carta-home m-3 shadow-lg">
            <a class="text-decoration-none text-light" href="{% url "mantenimientos_area_correctivo" id=alerta.area.id %}">
                <img src="{{ alerta.area.imagen.url }}" class="card-img-top" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ alerta.area.nombre }}</h5>
                    <p class="card-text m-0"><b>Ultimo mantenimiento:</b> {{ alerta.area.fecha_ultimo_mantenimiento }}</p>
                    <p class="card-text m-0 fs-5"><b>Dias restantes para el mantenimineto:</b> {{ alerta.dias_restantes }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}